<MudThemeProvider IsDarkMode="Settings.IsDarkMode" Theme="@ThemeService.Theme" DefaultScrollbar="Settings.DefaultScrollBar" />
<MudDialogProvider />
<MudSnackbarProvider />

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

@code{
    [Inject]
    ThemeService ThemeService { get; set; }
    bool IsDarkMode { get; set; } = true;

    ThemeSettings Settings { get; set; }

    protected override void OnInitialized()
    {

        Settings = new ThemeSettings();

        Action<ThemeSettings> OnThemeSettingsUpdate = (settings) =>
        {
            Settings = settings;
            this.StateHasChanged();
        };

        ThemeService.AddThemeSubscription(OnThemeSettingsUpdate);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            IsDarkMode = true;
        }
    }

    // TODO get system preference for dark mode https://mudblazor.com/customization/overview#system-preference
}