<div id="@WebConstants.QuoteComponentIds.Container">
    <MudText Typo="Typo.h4">
    
    @foreach (var letter in Quote.Select((value, i) => new {i, value}))
    {
        @if (letter.value.Equals(WebConstants.QuoteComponentConstants.CaretDelimiter))
        {
                <div id="@WebConstants.QuoteComponentIds.Caret" class="flash"></div>
            }
            else
            {
                int index = letter.i >= @CompletedText.Length ? -1 : letter.i;
                var colourClass = index == -1 ? @FontColourClass : @CompletedText[index].Equals('0') ? @errorColour : @successColour;

                <span class="@colourClass">@letter.value</span>
        }
            
    }
    <br />
    @foreach (var letter in CurrentInputText)
    {
        <span class="@FontColourClass"> @letter</span>
    }
    </MudText>
</div>

