<div id="@WebConstants.QuoteComponentIds.Container">
    <MudText Typo="Typo.h4">
    
    @foreach (var letter in Quote)
    {
        @if (letter.Equals(WebConstants.QuoteComponentConstants.CaretDelimiter))
        {
            <div id="@WebConstants.QuoteComponentIds.Caret" class="flash"></div>
        }
        else
        {
            <span class="@FontColourClass">@letter</span>
        }
            
    }
    <br />
    @foreach (var letter in CurrentInputText)
    {
        <span class="@FontColourClass"> @letter</span>
    }
    </MudText>
</div>

